<h2>Test</h2>
<p>Plurality: {{ plurality }}</p>
<p>Number of points: {{ getNumberOfPoints() }}</p>

<!-- CONDITIONS -->
<h3>Conditions</h3>
<ul>
  <li *ngFor="let c of conditions">
    <span><b>Vector:</b> {{ c.vector }} </span><br />
    <span
      ><b>Condition:</b> {{ c.conditionSign }} {{ c.conditionPointVal }}</span
    ><br />
    <span
      ><b>Max: </b>{{ getMaxValue(c.vector) }} <b>Min: </b
      >{{ getMinValue(c.vector) }}</span
    >
  </li>
</ul>

<button *ngIf="!isCounting" (click)="start()">Count</button>

<!-- <h3>Levels</h3>
<ul class="levels-list">
  <li class="levels-list__headers">
    <div>Point (max)</div>
    <div>Blocked value</div>
    <div>Max blocked value</div>
    <div>Min blocked value</div>
    <div>Blocked value</div>
    <div>Point (min)</div>
  </li>
  <li *ngFor="let i of FactorialArr.reverse()">
    <div>{{ getPointWithBlockedValues(true, [i]) }}</div>
    <div>{{ i }}</div>
    <div>{{ getMaxForBlockedValue([i]) }}</div>
    <div>{{ getMinForBlockedValue([i]) }}</div>
    <div>{{ i }}</div>
    <div>{{ getPointWithBlockedValues(false, [i]) }}</div>
  </li>
</ul> -->

<div class="result">
  <h2>Number of solutions</h2>
  <h4 *ngFor="let sc of iterateSolutions(); let i = index">
    Condition {{ i + 1 }}: {{ sc?.length }}
  </h4>
  <h5>Process time: {{ processTime }}ms</h5>
  <h5>Number analized points: {{ numberOfAnalizedPoints }}</h5>
</div>
